<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<title>Add new Task</title>
    <link type="text/css" rel="stylesheet" href="/css/css.css"/>
</head>
<body>

<form method="post" action="/tasks/addTask" th:object="${task}">
    <h4 th:text="#{AddTask}">Add Task</h4>
    <div>
        <label for="title" th:text="#{Name}"> </label>
        <input type="text" th:field="*{title}">
        <p th:errors="*{title}"></p>
    </div>
    <div>
        <label for="datum" th:text="#{Date}"> </label>
        <input type="datetime-local" th:field="*{datum}" required>
        <p th:errors="*{datum}"></p>
    </div>
    <div>
        <label for="description"  th:text="#{Description}"> </label>
        <input type="text" th:field="*{description}">
        <p th:errors="*{description}"></p>
    </div>
    <input type="submit" th:value="#{AddTask}">
</form>
</body>
<footer>
    <select id="taal" onchange="verandertaal()">
        <option value="" th:text="#{lang.change}"></option>
        <option value="nl" th:text="#{lang.nl}"></option>
        <option value="en" th:text="#{lang.en}"></option>
    </select>

</footer>
<script type="text/javascript" src="/js/js.js"></script>
</html>