<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskmanager</title>
    <link type="text/css" rel="stylesheet" href="/css/css.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<table class="table table-dark">
    <h2 th:if="${task} == null" th:text="#{TaskNotFound}"></h2>
    <div th:if="${task} != null">
        <h2 th:text="#{TaskDetail}"></h2>
        <p ><span th:text="#{Title} + ': '+ ${task.title}"></span></p>
        <p><span th:text="#{Date}+ ': '+${task.datum}"></span></p>
        <p ><span th:text="#{Description}+ ': '+ ${task.description}"></span></p>
        <h2 th:text="#{Subtasks}"></h2>
        <p th:if="${#lists.isEmpty(subtasks)}" th:text="#{NoSubtasks}"></p>
        <div th:each="subtask: ${subtasks}">
            <p><span th:text="#{Title} + ': '+ ${subtask.title}"></span></p>
            <p><span th:text="#{Description} + ': '+ ${subtask.description}"></span></p>
        </div>

    </div>
    <p><a href="/tasks" th:text="#{TaskManager}"></a> </p>
    <p><a href="/" th:text="#{index}"></a></p>
</table>
</body>
<footer>
    <select id="taal" onchange="verandertaal()">
        <option value="" th:text="#{lang.change}"></option>
        <option value="nl" th:text="#{lang.nl}"></option>
        <option value="en" th:text="#{lang.en}"></option>
    </select>

</footer>
<script type="text/javascript" src="/js/js.js"></script>
</html>
